

*{
  margin: 0;
  padding: 0;
}
html {
  box-sizing: border-box;
}
a{
  text-decoration: none;
}
body{
  background-color: #66bb6a;
}
.container{
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url(./giphy.gif);
  background-size: contain;
  background-position: left center;
  background-repeat: no-repeat;
}
button{
  cursor: pointer;
  outline: none;
  width: 200px;
  height: 50px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  font-weight: 600;
  border: none;
  border-radius: 30px;
  background-color: #ffcc66;
  color: #333;
  box-shadow: 2px 2px 20px 10px rgba(0,0,0,0.2);
}
button:hover{
  filter: brightness(90%);
}
button:active{
  transform: scale(0.98);
}
button:disabled{
  cursor: default;
  filter: brightness(30%);
}
/* Tablet or smaller */
@media screen and(max-width: 1000px){
  .container{
    background-size: cover;
    background-position: center center;
  }
}


footer {
	display: flex;
	flex-direction: row;
  justify-content: space-between;
  position: absolute;
	bottom: 0;
	width: 100%;
	color: black;
}
.social-media{
  margin: 0 20px 10px 0;
}
h6{
  margin-left: 10px;
}
i {
	color: black;
	transition: all 0.5s;
	font-size: 1.5rem;
}

i:hover {
	transform: scale(1.1);
}

